@model AddCategoryModel
<form method="POST" class="my-3" asp-action="createcategory">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="Name">Firma Adı</label>
                <span asp-validation-for="@Model.Name"></span>
                <input asp-for="@Model.Name" class="form-control" type="text">

            </div>
        </div>
    </div>

    <button class="btn btn-info" type="submit">Add</button>

</form>